<h1>Movie {{movie.title}}</h1>

<a href="/movies/{{movie.id}}/edit">Edit</a>

<p>{{movie.genre}}</p>

<p>{{movie.plot}}</p>

<hr/>

<h3>Cast</h3>

<p>
    {{movie.mainCelebrity.name}}
</p>

<form action="/movies/{{movie.id}}/delete" method="POST">
  <button type="submit">Delete Movie</button>
</form>
